.side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  margin-left: 100%;
  width: 100%;
  background: transparent;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  transition: 0.7s ease-in all;
}
.show-drawer {
  margin-left: 0 !important;
}
