@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #FBFAFF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@layer components {
  .btn-primary {
    @apply lg:hover:text-black lg:hover:bg-salafi-primary-btn lg:hover:text-white lg:px-3 lg:py-2 lg:rounded-md  font-medium;
  }
}
